@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right, #DBBFFF, #FFDDE6);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #816f7575;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #E2A2E8;
    text-align: center;
    text-shadow: 1px 1px 2px #8d6591a9;
}
h2 {
    color: #B3DAFF;
}
p {
    text-align: justify;
}